.buildToLastSection{
    padding-bottom: 100px;
}
.feqSection, .advancedSection, .trustedSection, .versatileSection{
    padding-block: 100px;
}
.versatileImages{
    margin-block: 56px;
}
 .advancedTabBlock{
    margin-top: 56px;
 }
.feqAccordationBlock{
    padding-block: 56px;
}

// both top bottom same padding and margin
.advancedSection{
   
}