
@use 'variables' as *;
.trustedByHundreds{
    margin-top:80px;
    h3{
        font-family: $inter;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #878B94;
        text-align: center;
        margin-bottom: 20px;
    }
    .turstedImages{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 32px;
        img{
            max-width: 100%;
            height: auto;
        }
    }
}