
$inter : "Inter", sans-serif;
$urbanist : "Urbanist", sans-serif;
$montserrat : "Montserrat", sans-serif;
$primary : #2B3990;
$primaryHover: #1E2D7E;
$black : #0D0D0D;
$grayLight: #4D545C;
$pColor: #4D545C;
$borderColor: #CFD1D4;
$trustPColor: #535A61;
$trustedCardBg: #f3f4f5; //E1E3E8;
//          